<div class="container-fluid">
  <div class="account-pages my-5 pt-sm-5">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-11">
          <div class="card overflow-hidden">
            <div class=" bg-soft bg-primary">
              <div class="row">
                <div class="col-7">
                  <div class="text-primary p-4">
                    <h5 class="text-primary">vous y êtes presque !</h5>
                    <p>Plus qu'une dernière étape ...</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body pt-0">
              <div>
                <a routerLink="/">
                  <div class="avatar-md profile-user-wid mb-4">
                    <span class="avatar-title rounded-circle bg-light">
                      <img src="assets/images/talan.png" alt="" class="circle" height="20">
                    </span>
                  </div>
                </a>
              </div>
            </div>
            <div class="row-md">

              <div class="mb-3">
                <label for="businessName">Nom de l'entreprise</label>
                <input type="businessName" formControlName="businessName" class="form-control" id="businessName" placeholder="Nom de l'entreprise">
              </div>

              <div class="mb-3">
                <label for="businessType">Type de l'entreprise</label>
                <select class="form-select">
                  <option>Type</option>
                  <option>Grande Surface</option>
                  <option>Boutique</option>
                  <option>Autre</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="address">Adresse</label>
                <input type="address" formControlName="address" class="form-control" id="address" placeholder="adresse">
              </div>
              <div class="mb-3">
                <label for="agreement" class="form-label">Agreement</label>
                <input class="form-control" type="file" id="formFile">
              </div>

              <div class="form-check form-checkbox-outline form-check-primary mb-3">
                <input class="form-check-input" type="checkbox" id="customCheckcolor1" checked>
                <label class="form-check-label" for="customCheckcolor1">
                  Je confirme les informations fournies
                </label>
              </div>

              <div class="ms-0">
                <button class="btn btn-primary">Enregistrer</button>
              </div>
          </div>
        </div>

      </div>
    </div>



  </div>

</div>












