<div class="auth-full-bg pt-lg-5 p-4" id="start-background">
  <div class="w-100">
    <div class="bg-overlay"></div>
  </div>
</div>
    <div class="start-content"><!--Start Card-->
      <div class="row">
        <div class="col-sm-6" >
          <div class="card" id="bank" style="width: 30rem; height: 30rem;">
            <div class="card-body">
              <img class="mb-3 rounded" src="../../../../assets/images/logo-light.png" alt="" height="50">
              <h5 class="card-title">For Banking</h5><br>
              <img class="mb-5" src="../../../../assets/images/bank1.png" alt="" height="100">
              <h5 class="card-text mb-1">
                échanges interbancaire, partagé et accessible à toutes les institutions financières, permettraient
                ainsi aux banques de réduire certaines charges
                opérationnelles liées au système financier et améliorer la rentabilité des banques.
              </h5><br>
              <a routerLink="/login" class="btn btn-primary">Se connecter</a>

            </div>
          </div>
        </div>
        <div class="col-sm-6" >
          <div class="card" id="user" style="width: 30rem; height: 30rem;">
            <div class="card-body">
              <img class="mb-3 rounded" src="../../../../assets/images/logo-light.png" alt="" height="50">
              <h5 class="card-title">For your daily life</h5>
              <img class="mb-2" src="../../../../assets/images/user.png" alt="" height="150">

              <h5 class="card-text mb-3">monnaie digitale destinée au grand public (particuliers, entreprises et
                intermédiaires financiers), accessible à travers des portefeuilles électroniques.</h5><br>
              <a routerLink="/signup" class="btn btn-primary">S'inscrire</a>
              <div class="mt-3 text-center">
                <p>Vous avez déjà un compte ? <a routerLink="/login-2"
                        class="fw-medium text-primary"> Se connecter</a> </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>







