<div class="container-fluid">

  <app-page-title title="Liste des Banque Commerciales" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row mb-2">
            <div class="col-sm-4">
              <div class="search-box me-2 mb-2 d-inline-block">
                <div class="position-relative">
                  <input type="text" class="form-control" placeholder="Recherche..." [(ngModel)]="term" />
                  <i class="bx bx-search-alt search-icon"></i>
                </div>
              </div>
            </div>
            <div class="col-sm-8">
              <div class="text-sm-end">
                <button type="button" class="btn btn-success btn-rounded mb-2 mr-2" (click)="openModal(content)">
                  <i class="mdi mdi-plus me-1"></i> Ajouter
                </button>
              </div>
            </div>
            <!-- end col-->
          </div>
          <div class="table-responsive">
            <table class="table align-middle table-nowrap">
              <thead>
                <tr>
                  <th>Nom Banque</th>
                  <th>Abreviation</th>
                  <th>Email / Fax</th>
                  <th>Adresse</th>
                  <th>Balance</th>
                  <th>Date d'Ajout</th>
                  <th>Action</th>

                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let commercialbanks of commercialBankData ">

                  <td>{{commercialbanks.name}}</td>
                  <td>{{commercialbanks.abreviation}}</td>
                  <td>
                    <p class="mb-0">{{commercialbanks.email}}</p>
                    <p class="mb-1">{{commercialbanks.fax}}</p>
                  </td>
                  <td>{{commercialbanks.address}}</td>
                  <td>{{commercialbanks.balance}}</td>
                  <td>{{commercialbanks.date | date: 'dd MMM, YYYY'}}</td>

                  <td>
                    <div class="dropdown" ngbDropdown placement="bottom-right">
                      <a href="javascript: void(0);" class="dropdown-toggle card-drop" data-toggle="dropdown"
                        ngbDropdownToggle aria-expanded="false">
                        <i class="mdi mdi-dots-horizontal font-size-18"></i>
                      </a>
                      <ul class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                        <li><a href="javascript: void(0);" class="dropdown-item" (click)="openModal(content1)"><i
                              class="fas fa-pencil-alt text-success me-1"></i>
                            Modifier</a></li>
                        <li><a href="javascript: void(0);" class="dropdown-item"><i
                              class="fas fa-trash-alt text-danger me-1"></i>
                            Suspendre</a></li>
                      </ul>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!-- end row -->
</div>

<!-- Standard Modal -->
<ng-template #content role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Ajouter Banque Commerciale</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
   <form (ngSubmit)="saveCustomer()" [formGroup]="formData">
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <label class="control-label">Nom Banque</label>
          <input class="form-control" placeholder="Saisissez nom " type="text" name="title" autocomplete="off" formControlName="name"
              [ngClass]="{'is-invalid': submitted && form.name.errors}" />
            <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
              <span *ngIf="form.name.errors.required">Vous devez saisir le nom de la banque.</span>
            </div>
        </div>
        <div class="mb-3">
          <label class="control-label">Abreviation</label>
          <input class="form-control" placeholder="Saisissez abreviation" type="text" name="title" autocomplete="off" formControlName="abreviation"
              [ngClass]="{'is-invalid': submitted && form.abreviation.errors}" />
            <div *ngIf="submitted && form.abreviation.errors" class="invalid-feedback">
              <span *ngIf="form.abreviation.errors.required">Vous devez saisir l'abreviation de la banque.</span>
            </div>
        </div>
        <div class="mb-3">
          <label class="control-label">Email</label>
          <input class="form-control" placeholder="Saisissez email" type="text" name="email" autocomplete="off" formControlName="email"
              [ngClass]="{'is-invalid': submitted && form.email.errors}" />
              <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
                <span *ngIf="form.email.errors.required">Vous devez saisir un email.</span>
                <span *ngIf="form.email.errors.pattern">Adresse email non valide.</span>
              </div>
        </div>
        <div class="mb-3">
          <label class="control-label">Fax</label>
          <input class="form-control" placeholder="Saisissez votre fax" type="text" name="fax" autocomplete="off" formControlName="fax"
              [ngClass]="{'is-invalid': submitted && form.fax.errors}" />
            <div *ngIf="submitted && form.fax.errors" class="invalid-feedback">
              <span *ngIf="form.fax.errors.required">Vous devez saisir un numéro fax.</span>
            </div>
        </div>
        <div class="mb-3">
          <label class="control-label">Adresse</label>
          <input class="form-control" placeholder="Saisissez adresse" type="text" autocomplete="off" name="address" formControlName="address"
              [ngClass]="{'is-invalid': submitted && form.address.errors}" />
            <div *ngIf="submitted && form.address.errors" class="invalid-feedback">
              <span *ngIf="form.address.errors.required">Vous devez saisir l'adresse.</span>
            </div>
        </div>
        <div class="mb-3">
          <label class="control-label">Balance</label>
          <input class="form-control" placeholder="Saisissez balance" type="text" autocomplete="off" name="balance" formControlName="balance"
              [ngClass]="{'is-invalid': submitted && form.balance.errors}" />
            <div *ngIf="submitted && form.balance.errors" class="invalid-feedback">
              <span *ngIf="form.balance.errors.required">Vous devez saisir le solde de la banque.</span>
            </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success" id="btn-save-event">
      Ajouter
    </button>
   </form>
  </div>
</ng-template>

<!-- Standard Modal -->
<ng-template #content1 role="document" let-modal>
  <div class="modal-header">
    <h5 class="modal-title mt-0">Modifier Banque Commerciale</h5>
    <button type="button" class="btn-close" aria-hidden="true" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
   <form (ngSubmit)="editCustomer()" [formGroup]="formData">
    <div class="row">
      <div class="col-12">
        <div class="mb-3">
          <label class="control-label">Nom Banque</label>
          <input class="form-control" placeholder="Saisissez nom " type="text" name="title" autocomplete="off" formControlName="name"
              [ngClass]="{'is-invalid': submitted && form.name.errors}" />
            <div *ngIf="submitted && form.name.errors" class="invalid-feedback">
              <span *ngIf="form.name.errors.required">Vous devez saisir le nom de la banque.</span>
            </div>
        </div>
        <div class="mb-3">
          <label class="control-label">Abreviation</label>
          <input class="form-control" placeholder="Saisissez abreviation" type="text" name="title" autocomplete="off" formControlName="abreviation"
              [ngClass]="{'is-invalid': submitted && form.abreviation.errors}" />
            <div *ngIf="submitted && form.abreviation.errors" class="invalid-feedback">
              <span *ngIf="form.abreviation.errors.required">Vous devez saisir l'abreviation de la banque.</span>
            </div>
        </div>
        <div class="mb-3">
          <label class="control-label">Email</label>
          <input class="form-control" placeholder="Saisissez email" type="text" name="email" autocomplete="off" formControlName="email"
              [ngClass]="{'is-invalid': submitted && form.email.errors}" />
              <div *ngIf="submitted && form.email.errors" class="invalid-feedback">
                <span *ngIf="form.email.errors.required">Vous devez saisir un email.</span>
                <span *ngIf="form.email.errors.pattern">Adresse email non valide.</span>
              </div>
        </div>
        <div class="mb-3">
          <label class="control-label">Fax</label>
          <input class="form-control" placeholder="Saisissez votre fax" type="text" name="fax" autocomplete="off" formControlName="fax"
              [ngClass]="{'is-invalid': submitted && form.fax.errors}" />
            <div *ngIf="submitted && form.fax.errors" class="invalid-feedback">
              <span *ngIf="form.fax.errors.required">Vous devez saisir un numéro fax.</span>
            </div>
        </div>
        <div class="mb-3">
          <label class="control-label">Adresse</label>
          <input class="form-control" placeholder="Saisissez adresse" type="text" autocomplete="off" name="address" formControlName="address"
              [ngClass]="{'is-invalid': submitted && form.address.errors}" />
            <div *ngIf="submitted && form.address.errors" class="invalid-feedback">
              <span *ngIf="form.address.errors.required">Vous devez saisir l'adresse.</span>
            </div>
        </div>
        <div class="mb-3">
          <label class="control-label">Balance</label>
          <input class="form-control" placeholder="Saisissez balance" type="text" autocomplete="off" name="balance" formControlName="balance"
              [ngClass]="{'is-invalid': submitted && form.balance.errors}" />
            <div *ngIf="submitted && form.balance.errors" class="invalid-feedback">
              <span *ngIf="form.balance.errors.required">Vous devez saisir le solde de la banque.</span>
            </div>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success" id="btn-save-event">
      Ajouter
    </button>
   </form>
  </div>
</ng-template>
