<div class="account-pages my-5 pt-sm-5">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="text-center mb-5 text-muted">
                  <a routerLink="/" class="d-block auth-logo">
                      <img src="assets/images/talan.png" alt="" height="45" class="auth-logo-dark mx-auto">
                  </a>
              </div>
          </div>
      </div>
      <!-- end row -->
      <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6 col-xl-5">
              <div class="card">
                  <div class="card-body">
                      <div class="p-2">
                          <div class="text-center">
                              <div class="avatar-md mx-auto">
                                  <div class="avatar-title rounded-circle bg-light">
                                      <i class="bx bxs-envelope h1 mb-0 text-primary"></i>
                                  </div>
                              </div>
                              <div class="p-2 mt-4">
                                  <h4>Verifez votre email</h4>
                                  <p>Nous vous avons envoyé un e-mail contenant votre identifiant ainsi que votre mot de passe sur <span class="fw-semibold">example@abc.com</span>, Veuillez le vérifier</p>
                                  <div class="mt-4">
                                      <a routerLink="/login-2" class="btn btn-primary w-md" (click)="btnClick()">Consulter</a>
                                  </div>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
              <div class="mt-5 text-center">
                  <p>Vous n'avez pas reçu d'email ? <a href="javascript: void(0);" class="fw-medium text-primary"> Renvoyer </a> </p>
              </div>

          </div>
      </div>
  </div>
</div>
